text {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 900;
    pointer-events: none;
}


div.tooltip {
  color: white;
  position: absolute;
  text-align: center;
  /*width: 150px;*/
  height: 30px;
  padding: 2px;
  font: 12px sans-serif;
  background: rgba(0,0,0,.8);
  border: 2px solid black;
  pointer-events: none;
}


.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path,
.x.axis line {
    display: none;
}

.y.axis path,
.y.axis line {
    display: none;
}
